<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css"> 
    <title>CovidEX | Get all the latest covid updates here </title>
</head>
<body>
     <div class="flex-container">
         <div class="home">
             <img id="logo" src="./images/virus1.png" alt="">
                <h1>CovidEX</h1>
                <p>A an online portal for all Covide'19 related queries</p>
                <h3>AI Based CHatbot | FAQ's </h3>
                <div class="row">
                    <a href="#faqs" class="button">View FAQ's</a>
                    <a href="/lisa-bot" class="button">Talk to Meghana</a>
                </div>
                <a id="updates" href="/covid-stats">Covid'19 Live Updates Here</a>
                <div id="particles-js"></div>
         </div>

        <div class="about">
            <div class="about-text">
                <h1 data-aos="fade-up">About Us</h1>
                <p data-aos="fade-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquam laboriosam perferendis saepe distinctio, praesentium modi maiores, eius vel exercitationem suscipit quisquam quasi voluptatem odio incidunt qui fugit accusantium dolorum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nostrum dolor, molestias culpa aliquid eum at ipsam corporis ea quia? Consectetur possimus beatae ipsa accusamus nam id suscipit aliquid quibusdam.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt temporibus quo aperiam blanditiis molestiae ad impedit dolor? Doloribus asperiores quod repellat rerum nulla perspiciatis aliquam amet ratione adipisci expedita!
                </p>
            </div>
            <div class="about-img">
                  <h2 data-aos="fade-up">Our Team</h2>
            </div>
        </div>

         <div id="faqs">
            <h1 data-aos="fade-up">Frequently Asked Questions</h1>
            <div data-aos="fade-up" class="faq-grid">
                <div class="quest">
                    <div class="inner">
                        Do i need prior coding knowledge to participate?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                        The questions will give priority to basic aptitude and logical reasoning skills of the participlants,
                         hence both novice and experts can participate.
                    </div>
                </div>
                <div data-aos="fade-up" class="quest">
                    <div class="inner">
                        Do i need to have any paid softwares to solve the challenges?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                        The questions asked in the challenges do not require any paid softwares to be solved
                    </div>
                </div>
                <div data-aos="fade-up" class="quest">
                    <div class="inner">
                       Is it a team event? If yes, how many people can be in a team?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                        we belive that all participants may have their own unique skillset and hence working as a team will prove to be
                        an engaging and thrilling experience, team size: 3- 4 members.
                    </div>
                </div>
                <div data-aos="fade-up" class="quest">
                    <div class="inner">
                       What if I don't have a team?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                       We will have tons of online activities and discussion forums before the event starts for you to interact with other participants
                       and form teams, hovever if you do not have a team, do not worry, we will pair you up with other participants
                    </div>
                </div>
                <div data-aos="fade-up" class="quest">
                    <div class="inner">
                        Can students outside of VIT participate?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                        Definately! We love external participation! All are welcome to register for this event
                    </div>
                </div>
                 <div data-aos="fade-up"  class="quest">
                    <div class="inner">
                        Will there be elimination of teams in round one?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                        Yes! after round 1 we will conduct a score tally, and based upon that a list of shortlisted teams will be announced on our social media handels as well as on the website.
                    </div>
                </div>  
                 <div data-aos="fade-up"  class="quest">
                    <div class="inner">
                        Do i need experience or familiarity with technologies in questions?
                        <div class="drpdn"></div>
                    </div>
                    <div class="ans">
                        Please frame an answer guys thanks:)
                    </div>
                </div>     
            </div>
        </div>

        <div class="footer"> &#169 2020. CovidEX - AI Powered Solution to all Covid related queries</div>
 
     </div>
</body>
<script type="text/javascript" 
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
</script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script src="./js/app.js"></script>
<script src="./js/particles.js"></script>
</html>